PORT=4000
NODE_ENV=development
DATABASE_URL="mysql://root:password@localhost:3306/jzarr_data_manage"
CORS_ORIGINS="http://localhost:5173"
JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
