PORT=4000
NODE_ENV=development
DATABASE_URL="mysql://root:password@localhost:3306/jzarr_data_manage"
CORS_ORIGINS="http://localhost:5173"
JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me-too"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
AWS_S3_REGION="sfo3"
AWS_S3_DOMAIN=""
AWS_S3_ENDPOINT="https://sfo3.digitaloceanspaces.com"
